<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://upload.wikimedia.org/wikipedia/en/1/10/Lords_Mobile_logo.png">
    <title> Auto code Redeemption </title>
    <style>
        body {
            background-color: white;
        }

        .container-main {
            width: 70%;
            background-color: whitesmoke;
            margin-left: auto;
            margin-right: auto;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div class="container-main center">
        <h1 style="text-align: center;color:blue;"> Welcome To Lords Mobile Auto Code Redeemption System </h1>
        <h4 style="text-align: center;color:red;"> Code Have Been Added in Redeemption Task Successfully...!!!</h4>    
    </div>
</body>

</html>